@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.NavContainer{
    display: flex;
    position: sticky;
    top: 0;
    padding: 0px;
    

}

.NavContainer ul{
    display: flex;
    list-style: none;
}

.NavItems{
    display: flex;
    width: 180px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.LoginCtn{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    padding: 0px 30px;
}

.signin{
    width:100px;
    height:40px;
    border-radius: 10px;
}

.signup{
    width:100px;
    height:40px;
    border-radius: 10px;
    border-style: ()
}